.defaultHeader{
   position: fixed;
   width: 100%;
   z-index: 1; 
   background: rgb(236,255,0);
   background: linear-gradient(0deg, rgba(236,255,0,0.4906337535014006) 0%, rgba(255,132,0,0.6811099439775911) 0%, rgba(255,111,0,0.9182860644257703) 100%);
   height: 90px;
   min-width: 920px;
}
.logo{
   position: absolute;
   max-width: 80px;
   width: auto;
   height: auto;
   margin-left: 280px;
   margin: 3;
}
.buttons{
   z-index: 2; 
   top: 0;
   margin-top: 25px;
   position: absolute;
   margin-left: 60%;
   min-width: 350px;
}
