aside.menu-area {
   background-color: #ebb584;
   box-shadow: 0px 0px  black; 
}

.menu a {
   display: block;
   text-decoration: none;
   color: #FFF;
   font-weight: 300;
   padding: 15px;

}

.menu a:hover {
   background: linear-gradient(135deg, #1b2c57, #32dac3 100%);
}